<h1>Hello</h1>
<p>Please enter the website you would like to find twitter profile for:</p>
<form action="/getlinks">
  <input type="text" name="link_input">
  <input type="submit" value="Submit">
</form>

<!-- <h2>Result</h2>
<%= result %>
<% end %> -->
